fieldset{
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    height: 400px;
    background: rgba(255, 158, 30, 0.9);
}

.containerNav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 100px;
  width: 600px;
  text-align: center;
}

.containerFild, fieldset{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

button {
  background: rgba(237, 248, 75, 0.89);
  width: 130px;
  height: 40px;
  margin: 5px;
  margin-bottom: 10px;
  border-radius: 25px;
  border: 0px;
  transition: width 4s;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  font-weight: bolder;
  text-shadow: 2px 2px rgba(170, 169, 168, 0.575);
}
button:hover{
  background:  rgba(243, 125, 29, 0.685);
  
}
